.mobile-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile-nav {
    position: absolute;
    display: flex;
    background-color: #ea9085;
    width: 100%;
    height: 60vh;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    color: #512b58;
    font-size: 18px;
  }
}
