.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 140px;
}

.mobile-nav {
  display: none;
}
.nav-container {
  color: #512b58;
  font-size: 30px;
}

li {
  list-style: none;
  margin: 20px auto;
}
li:hover {
  cursor: pointer;
  color: #ea9085;
  translate: 5px;
  transition: all 0.2s;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-text {
  font-size: 160px;
  font-weight: bold;
  color: #ffa372;
  letter-spacing: 14px;
}

.sub-text {
  font-size: 48px;
  color: #ea9085;
}

@media screen and (max-width: 600px) {
  .nav-container {
    display: none;
  }
  .mobile-nav {
    position: absolute;
    display: flex;
    background-color: #ea9085;
    width: 100%;
    height: 60vh;
    top: 0;
    align-items: center;
    justify-content: center;
  }
  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    color: #512b58;
    font-size: 22px;
  }
  .main-container {
    margin: 100px 50px;
    justify-content: center;
    text-align: center;
  }
  .main-text {
    font-size: 60px;
    margin-bottom: 30px;
    letter-spacing: 8px;
  }

  .sub-text {
    font-size: 30px;
  }
}
