.projects-container {
  overflow: hidden;
}

.projects-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 100px;
}
.cards-end {
  text-align: center;
  margin: 100px auto;
}

.cards-end-title {
  font-size: 28px;
  margin-bottom: 16px;
}
.cards-end-text {
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  .projects-title {
    font-size: 38px;
    margin-bottom: 80px;
  }

  .cards-end-title {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .cards-end-text {
    font-size: 18px;
  }
}
