.nav-container {
  font-size: 30px;
}

li {
  list-style: none;
  margin: 20px auto;
}
li:hover {
  cursor: pointer;
  translate: 5px;
  transition: all 0.2s;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .nav-container {
    display: none;
  }
}
