.pdf-wrapper {
  width: calc(100% - 10%);
  max-width: 1110px;
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.react-pdf__Document {
  border-radius: 8px;
  max-width: 100%;
  position: relative;
  /* background-color: white; */
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 80% !important;
  height: 100% !important;
}

.react-pdf__Page__annotations {
  display: none;
}
